[user]
        name = Tim Reardon
        email = tequalsme@gmail.com
[core]
        eol = lf
        editor = vi
        autocrlf = input
        safecrlf = true
        excludesfile = ~/.gitignore
        # must first reset $LESS options, then specify options for git pager
        pager = less -+$LESS -FRXqi
[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto
        ui = auto
[alias]
        br = branch
        ci = commit
        ch = checkout
        co = checkout
        di = diff
        st = status
        f = fetch --all --tags --prune
        undo = reset --soft HEAD^
        l = log --pretty='%h %ad %an %s' --date=local
        lg = log -p
        summ = log --name-only
        who = shortlog -s --
        changes=diff --name-status -r
        diffstat=diff --stat -r
        prune-all = !git remote | xargs -n 1 git remote prune
        spull = !git-svn fetch && git-svn rebase
        sup = !git-svn fetch && git-svn rebase
        spush = !git-svn dcommit
        upsub = !git submodule update --init
        lb = !git l ..`git rev-parse --abbrev-ref @{u}`
        la = !git l `git rev-parse --abbrev-ref @{u}`..
[push]
        default = tracking
[pull]
        default = tracking
[diff]
        mnemonicprefix = 1
        renamed = copy
        #tool = diffmerge
#[difftool "diffmerge"]
#        cmd = diffmerge.sh \"$LOCAL\" \"$REMOTE\"
#[mergetool "diffmerge"]
#        cmd = diffmerge.sh --merge --result=$MERGED $LOCAL $BASE $REMOTE
#        trustExitCode = true
#[http]
#    sslCert = /path/to/cert.pem
#    sslCertPasswordProtected = true
#    sslVerify = true
#    sslCAInfo = /path/to/cert.crt
#[mailmap]
#    file = /path/to/.gitmailmap
